<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Acquisto</title>
    </head>
    <body>
        <form th:action="@{/RicercaAste}" method="GET">
            <input type="text" name="keyword" placeholder="Parola chiave" required>
            <button type="submit">Cerca</button>
        </form>
        <h2>Aste Trovate</h2>
        <div th:if="${#lists.isEmpty(asteTrovate)}">
            <p th:text="'Nessuna asta trovata'"></p>
        </div>
        <div th:each="a : ${asteTrovate}">
            <div>
                <p><a th:href="@{/dettaglioAsta(id=${a.id})}">
                    <strong>ID Asta: </strong><span th:text="${a.id}"></span></a></p>
                <p><strong>Rialzo minimo: </strong> <span th:text="${a.rialzoMinimo}"></span>€</p>
                <p><strong>Scadenza: </strong> <span th:text="${a.scadenza}"></span></p>
                <p><strong>Proprietario: </strong> <span th:text="${a.proprietario}"></span></p>
                <p><strong>Articoli: </strong>
                    <span th:each="art : ${a.articoli}">
                        <span th:text="${art.codice}"></span> - <span th:text="${art.nome}"></span>;
                    </span>
                </p>
            </div>
        </div>
    <h2>Aste vinte</h2>
        <div th:if="${#lists.isEmpty(asteVinte)}">
            <p>Non hai ancora vinto aste.</p>
        </div>
        <div th:each="a : ${asteVinte}">
            <div>
                <p><strong>ID Asta: </strong> <span th:text="${a.id}"></span></p>
                <p><strong>Articoli: </strong>
                    <span th:each="art : ${a.articoli}">
                    <span th:text="${art.codice}"></span> - <span th:text="${art.nome}"></span>;
                </span>
                </p>
                <p><strong>Prezzo:</strong> <span th:text="${a.prezzoFinale != null ? a.prezzoFinale + '€' : 'N/A'}"></span></p>
            </div>
        </div>
    </body>
</html>