<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Acquisto</title>
    </head>
    <body>
        <a th:href="@{/Logout}"><button type="submit">Logout</button></a><br><br>
        <a th:href="@{/HomeServlet}"><button type="submit">Torna alla home</button></a><br><br>
        <h2>Ricerca Aste</h2>
        <form th:action="@{/AcquistoServlet}" method="GET">
            <input type="text" name="keyword" placeholder="Parola chiave" required>
            <button type="submit">Cerca</button>
        </form>
        <br><br>
        <div th:if="${asteTrovateMsg}">
            <span th:text="${asteTrovateMsg}"></span>
        </div>
        <div th:if="${asteTrovate}">
            <h2>Aste Trovate</h2>
            <table border="1">
                <thead>
                    <tr align="center">
                        <th>ID Asta</th>
                        <th>Prezzo Iniziale</th>
                        <th>Rialzo Minimo</th>
                        <th>Scadenza</th>
                        <th>Proprietario</th>
                        <th>Articoli</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="a : ${asteTrovate}" align="center">
                        <td><a th:href="@{/OfferteServlet(idAsta=${a.id})}" th:text="${a.id}"></a></td>
                        <td th:text="${a.prezzoIniziale} + ' €'"></td>
                        <td th:text="${a.rialzoMinimo} + '.00 €'"></td>
                        <td th:text="${a.scadenza}"></td>
                        <td th:text="${a.proprietario}"></td>
                        <td>
                            <ul>
                                <li th:each="art : ${a.articoli}">
                                    <span th:text="${art.codice}"></span>
                                    <span th:text="${art.nome}"></span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
        <div th:if="${asteVinteMsg}">
            <span th:text="${asteVinteMsg}"></span>
        </div>
        <div th:if="${asteVinte}">
            <h2>Aste vinte</h2>
            <table border="1">
                <thead>
                    <tr align="center">
                        <th>ID Asta</th>
                        <th>Prezzo</th>
                        <th>Articoli</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="a : ${asteVinte}" align="center">
                        <td th:text="${a.id}"></td>
                        <td th:text="${a.prezzoOffertaMassima} + ' €'"></td>
                        <td>
                            <ul>
                                <li th:each="art : ${a.articoli}">
                                    <span th:text="${art.codice}"></span>
                                    <span th:text="${art.nome}"></span>
                                    <span th:text="${art.descrizione}"></span>
                                    <!--<img th:if="${art.immagine}" th:src="@{${art.immagine}}" alt="Immagine Articolo" width="100"/>-->
                                    <span th:text="${art.prezzo} + ' €'"></span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>