<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Offerta</title>
    </head>
    <body>
        <a th:href="@{/Logout}"><button type="submit">Logout</button></a><br><br>
        <a th:href="@{/AcquistoServlet}"><button type="submit">Torna alle aste</button></a><br><br>
        <h2>Articoli nell'asta</h2>
        <table border="1">
            <thead>
                <tr align="center">
                    <th>Codice</th>
                    <th>Nome</th>
                    <th>Descrizione</th>
                    <!--<th>Immagine</th>-->
                    <th>Prezzo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="art : ${articoli}" align="center">
                    <td th:text="${art.codice}"></td>
                    <td th:text="${art.nome}"></td>
                    <td th:text="${art.descrizione}"></td>
                    <!--<td><img th:src="@{${art.immagine}}" alt="Immagine Articolo" width="100"/></td>-->
                    <td th:text="${art.prezzo} + '€'"></td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <div th:if="${offerteMsg}">
            <span th:text="${offerteMsg}"></span>
        </div>
        <div th:if="${offerte}">
            <h2>Offerte</h2>
            <table border="1">
                <thead>
                    <tr align="center">
                        <th>Offerente</th>
                        <th>Prezzo Offerto</th>
                        <th>Data Offerta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="o : ${offerte}" align="center">
                        <td th:text="${o.offerente}"></td>
                        <td th:text="${o.prezzo} + '€'"></td>
                        <td th:text="${o.data}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
        <div th:if="${canOffer}">
            <h2>Fai un'offerta</h2>
            <h3>Rialzo minimo: <span th:text="${rialzoMinimo} + '.00 €'"></span></h3>
            <div th:if="${successMsg}">
                <span th:text="${successMsg}"></span>
            </div>
            <div th:if="${errorMsg}">
                <span th:text="${errorMsg}"></span>
            </div>
            <form th:action="@{/FaiOfferta(idAsta=${idAsta})}" method="POST">
                <input type="double" name="prezzoOfferto" placeholder="Prezzo Offerto" required><br><br>
                <button type="submit">Fai offerta</button>
            </form>
        </div>
    </body>
</html>