<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vendo</title>
</head>
<body>
    <a th:href="@{/Logout}"><button type="submit">Logout</button></a><br><br>
    <a th:href="@{/HomeServlet}"><button type="submit">Torna alla home</button></a><br><br>

    <div th:if="${asteAperteMsg}">
        <span th:text="${asteAperteMsg}"></span>
    </div>
    <div th:if="${asteAperte}">
        <h2>Aste Aperte</h2>
        <table border="1">
            <thead>
            <tr align="center">
                <th>ID Asta</th>
                <th>Tempo Mancante</th>
                <th>Offerta Massima</th>
                <th>Articoli</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a : ${asteAperte}" align="center">
                <td><a th:href="@{/DettaglioAstaServlet(idAsta=${a.id})}" th:text="${a.id}"></a></td>
                <td th:text="${a.tempoMancante}"></td>
                <td th:text="${a.prezzoOffertaMassima} + ' €'"></td>
                <td>
                    <ul>
                        <li th:each="art : ${a.articoli}">
                            <span th:text="${art.codice}"></span>
                            <span th:text="${art.nome}"></span>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br><br>

    <div th:if="${asteChiuseMsg}">
        <span th:text="${asteChiuseMsg}"></span>
    </div>
    <div th:if="${asteChiuse}">
        <h2>Aste chiuse</h2>
        <table border="1">
            <thead>
            <tr align="center">
                <th>ID Asta</th>
                <th>Prezzo</th>
                <th>Aggiudicatario</th>
                <th>Articoli</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a : ${asteChiuse}" align="center">
                <td><a th:href="@{/DettaglioAstaServlet(idAsta=${a.id})}" th:text="${a.id}"></a></td>
                <td th:text="${a.prezzoOffertaMassima} + ' €'"></td>
                <td th:text="${a.aggiudicatario}"></td>
                <td>
                    <ul>
                        <li th:each="art : ${a.articoli}">
                            <span th:text="${art.codice}"></span>
                            <span th:text="${art.nome}"></span>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br><br>

    <form th:action="@{/AggiungiArticolo}" method="POST">
        <h2>Aggiungi un articolo</h2>
        <input type="text" name="nome" placeholder="Nome" required><br><br>
        <textarea name="descrizione" placeholder="Descrizione" required></textarea><br><br>
        <input type="file" name="immagine" placeholder="Immagine" accept="image/*"><br><br>
        <div th:if="${prezzoMsg}">
            <span th:text="${prezzoMsg}"></span>
        </div>
        <input type="number" name="prezzo" placeholder="Prezzo" required><br><br>
        <button type="submit">Aggiungi Articolo</button>
    </form>
    <br><br>

    <h2>Seleziona gli articoli per creare un'asta</h2>
    <div th:if="${articoliMsg}">
        <span th:text="${articoliMsg}"></span>
    </div>
    <form th:action="@{/CreaAsta}" method="POST">
        <div th:if="${listaArticoli}">
            <h3>Articoli disponibili</h3>
            <table border="1">
                <thead>
                <tr>
                    <th>Seleziona</th>
                    <th>Codice</th>
                    <th>Nome</th>
                    <th>Descrizione</th>
                    <!--<th>Immagine</th>-->
                    <th>Prezzo</th>
                    <th>Proprietario</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="articolo : ${listaArticoli}">
                    <td>
                        <input type="checkbox" name="articoliSelezionati"
                               th:value="${articolo.codice}">
                    </td>
                    <td th:text="${articolo.codice}"></td>
                    <td th:text="${articolo.nome}"></td>
                    <td th:text="${articolo.descrizione}"></td>
                    <!--<td><img th:src="@{${articolo.immagine}}" alt="Immagine articolo" width="100"></td>-->
                    <td th:text="${articolo.prezzo} + ' €'"></td>
                    <td th:text="${articolo.proprietario}"></td>
                </tr>
                </tbody>
            </table>
            <br>
            <div th:if="${rialzoMsg}">
                <span th:text="${rialzoMsg}"></span>
            </div>
            <label for="rialzoMinimo">Rialzo minimo:</label>
                <input type="number" id="rialzoMinimo" name="rialzoMinimo" placeholder="Rialzo minimo" min="1" step="1" required>
            <br><br>
            <div th:if="${scadenzaMsg}">
                <span th:text="${scadenzaMsg}"></span>
            </div>
            <label for="scadenza">Data scadenza:</label>
                <input type="datetime-local" id="scadenza" name="scadenza" placeholder="Scadenza" required>
            <br><br>
            <div th:if="${nessunArticoloMsg}">
                <span th:text="${nessunArticoloMsg}"></span>
            </div>
            <button type="submit">Crea Asta</button>
        </div>
    </form>
    <div th:if="${successMsg}">
        <p style="color: green;" th:text="${successMsg}"></p>
    </div>


</body>
</html>